In [13]:
# pip install panda
# pip install matplotlib
# pip install numpy
# pip install seaborn
# pip install colorama

In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.gridspec import GridSpec
import warnings
warnings.filterwarnings('ignore')

In [15]:
df = pd.read_excel("HospitalDatabase.xlsx")
df_PA = pd.read_excel("HospitalDatabase.xlsx", sheet_name = "Patients")
df_ED = pd.read_excel("HospitalDatabase.xlsx", sheet_name = "EDVisits")
df_AmbV = pd.read_excel("HospitalDatabase.xlsx", sheet_name = "AmbulatoryVisits")
df_ReAd = pd.read_excel("HospitalDatabase.xlsx", sheet_name = "ReAdmissionRegistry")
df_Dis = pd.read_excel("HospitalDatabase.xlsx", sheet_name = "Discharges")
df_Pro = pd.read_excel("HospitalDatabase.xlsx", sheet_name = "Providers")
df_EDU = pd.read_excel("HospitalDatabase.xlsx", sheet_name = "EDUnique")

<span style="color:#00008B;"> Qs 41: Find the age prone to get stroke. </span>

In [16]:
df_stroke = df_ReAd[['PatientID', 'PrimaryDiagnosis']].loc[df_ReAd.PrimaryDiagnosis == 'Stroke']
df_stroke 
#calculating age
df_age = pd.DataFrame(df_PA.PatientID)
now = pd.Timestamp('now')
df_age ['Age'] = (now - df_PA['DateOfBirth']).astype('<m8[Y]')
df_age .sort_values('Age')
df_strokeAge = df_age.merge(df_stroke , how = 'inner')[['Age','PrimaryDiagnosis']]
#df_strokeAge ['AgeRange'] = pd.cut(x=df_strokeAge ['Age'], bins=[35, 45, 55, 65])
df_strokeAge  = df_strokeAge .groupby('Age')['PrimaryDiagnosis'].count().sort_values(ascending = False)
df_strokeAge 
print('The age', df_strokeAge.index[0], 'prone to stroke')

The age 58.0 prone to stroke

<span style="color:#00008B;"> Qs 42: Calculate mortality by diagnosis. </span>

In [17]:
dfdischarge_count = df_Dis[['DischargeDisposition', 'PrimaryDiagnosis']].loc[df_Dis.DischargeDisposition == 'Expired'].groupby('PrimaryDiagnosis').count()
dfdischarge_count = dfdischarge_count.rename(columns = {'DischargeDisposition': 'Count'})
dfdischarge_count
discharge_count = len(df_Dis)
final_count = dfdischarge_count/discharge_count
final_count = final_count.rename(columns = {'Count': 'ObeservedMortality'})
final_count

                    ObeservedMortality
PrimaryDiagnosis
AMI                           0.008333
Afib                          0.005556
Broken Leg                    0.004167
Diabetes                      0.012500
Fever                         0.005556
Flu                           0.015278
Heart Failure                 0.022222
Hip Fracture                  0.004167
Hypertension                  0.022222
Kidney Failure                0.002778
Knee Replacement              0.002778
Laceration                    0.002778
Pain                          0.001389
Pneumonia                     0.022222
Spinal Cord Injury            0.002778
Stroke                        0.009722

<span style="color:#00008B;"> Qs 43: Details of the patients whose firstname or lastname contains string "lau" , should be case insensitive. </span>

In [18]:
df_PA_fnln= df_PA.copy()

df_PA_fnln['mask'] = (df_PA_fnln['FirstName'].str.contains('lau'))|(df_PA_fnln['LastName'].str.contains('lau'))|(df_PA_fnln['FirstName'].str.contains('Lau'))|(df_PA_fnln['LastName'].str.contains('Lau'))
name_str_lau = df_PA_fnln[df_PA_fnln['mask']==True]
name_str_lau.drop(columns=['mask'])

,PatientID,FirstName,LastName,DateOfBirth,Gender,Race,Language
282,283.0,Lauren,Gaskal,1962-05-08 01:54:00.111,Female,Black/African-American,English
322,323.0,Lauren,Foort,1960-06-23 20:07:53.045,Female,White,English
369,370.0,Zulauf,Ellingham,1982-12-17 16:27:56.391,Female,White,English
382,383.0,Zulauf,LLC,1969-03-16 07:48:49.338,Female,White,English
454,455.0,Zulauf,Alvar,1961-10-02 08:24:17.334,Female,White,English
463,464.0,Zulauf,Manske,1965-06-22 02:49:28.667,Female,White,English
818,819.0,Zulauf,Bitcheno,1967-04-02 07:17:53.635,Female,White,English
830,831.0,Zulauf,O'Shavlan,1970-05-17 08:09:28.988,Female,White,English
850,851.0,Lemmy,Klausen,1973-06-18 06:19:43.475,Female,White,English
906,907.0,Jerrilyn,Klausen,1979-09-04 13:05:57.870,Male,Black/African-American,English
910,911.0,Zulauf,Orbine,1973-06-26 03:13:50.449,Male,Black/African-American,English

<span style="color:#00008B;"> Qs 46: Count of canceled status. </span>

In [26]:
canceled_status = len(df_AmbV[df_AmbV['VisitStatus'] == 'Canceled'])

print("Number of patients whose visit status are canceled: ",canceled_status)

Number of patients whose visit status are canceled:  60