In [1]:
#pip install panda
#pip install matplotlib
#pip install numpy
#pip install seaborn
#pip install colorama

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.gridspec import GridSpec
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_excel("HospitalDatabase.xlsx")
df_PA = pd.read_excel("HospitalDatabase.xlsx", sheet_name = "Patients")
df_ED = pd.read_excel("HospitalDatabase.xlsx", sheet_name = "EDVisits")
df_AmbV = pd.read_excel("HospitalDatabase.xlsx", sheet_name ="AmbulatoryVisits")
df_ReAd = pd.read_excel("HospitalDatabase.xlsx", sheet_name = "ReAdmissionRegistry")
df_Dis = pd.read_excel("HospitalDatabase.xlsx", sheet_name = "Discharges")
df_Pro = pd.read_excel("HospitalDatabase.xlsx", sheet_name = "Providers")
df_EDU = pd.read_excel("HospitalDatabase.xlsx", sheet_name = "EDUnique")

In [5]:
#1 Which providers had a speciality of Pediatrics and used Telemedicine? Use SQL for it. 

import psycopg2 as ps
import pandas.io.sql as sqlio

conn2=ps.connect(dbname="HospitalDatabase",

user="postgres",password= "TinRoof33",host="localhost",

port="5432")
                
                 
 
sql= """ SELECT DISTINCT p."ProviderName", a."VisitType" FROM "AmbulatoryVisits" as a
JOIN "Providers" as p ON p."ProviderID" = a."ProviderID"
WHERE a."VisitType" = 'Telemedicine' AND p."ProviderSpeciality" = 'Pediatrics' """

df=sqlio.read_sql_query(sql,conn2)

df

     ProviderName     VisitType
0        Ala Bama  Telemedicine
1       Barry Bar  Telemedicine
2      Harry Kane  Telemedicine
3  Jordan Michael  Telemedicine
4      Mike Myers  Telemedicine
5       Sally Sue  Telemedicine
6       Ted Black  Telemedicine
7       Ted Green  Telemedicine
8       Ted Texas  Telemedicine

In [8]:
#2 Who is the oldest doctor that did a physical? Connect to SQL. 

import psycopg2 as ps
import pandas.io.sql as sqlio

conn2=ps.connect(dbname="HospitalDatabase",

user="postgres",password= "TinRoof33",host="localhost",

port="5432")
                
                 
 
sql= """ SELECT DISTINCT p."ProviderName", a."VisitType", p."ProviderDateOnStaff" FROM "AmbulatoryVisits" as a
JOIN "Providers" as p ON p."ProviderID" = a."ProviderID"
WHERE a."VisitType" = 'Physical' AND p."ProviderSpeciality" = 'PrimaryCare'
ORDER BY p."ProviderDateOnStaff" ASC limit 1 """

df=sqlio.read_sql_query(sql,conn2)

df

  ProviderName VisitType ProviderDateOnStaff
0  Justin Time  Physical          2006-06-21

In [ ]:
#3

In [9]:
#4

In [ ]:
#5